[submodule "stdBLAS"]
	path = stdBLAS
	url = https://github.com/kokkos/stdBLAS.git
[submodule "mdspan"]
	path = mdspan
	url = https://github.com/kokkos/mdspan.git
[submodule "xll24"]
	path = xll24
	url = https://github.com/xlladdins/xll24
[submodule "fms_dual"]
	path = fms_dual
	url = https://github.com/keithalewis/fms_dual
